<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true" create-session="always">
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/hello*"
			access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/login" default-target-url="/helloworld"
			authentication-failure-url="/loginError" />
		<!-- <logout logout-success-url="/logout" logout-url="/j_spring_security_logout" /> -->
		<csrf disabled="true" />
		<access-denied-handler error-page="/403" />
	
	<!-- <session-management invalid-session-url="/invsession" session-fixation-protection="migrateSession">
    <concurrency-control error-if-maximum-exceeded="true" max-sessions="1"/> 
    </session-management> -->
		<session-management>
        <concurrency-control max-sessions="1" expired-url="/invSession"/>
    </session-management>
  <!-- <session-management session-authentication-error-url="/invsession" session-fixation-protection="migrateSession">
    <concurrency-control error-if-maximum-exceeded="true" max-sessions="1"/> 
    </session-management> -->
    
    
     <!-- <session-management  session-authentication-error-url="/invsession?expire=3" session-fixation-protection="migrateSession">
            <concurrency-control error-if-maximum-exceeded="true" max-sessions="1" expired-url="/invsession?expire"/>
</session-management>  -->
   <!--  <session-management  session-authentication-error-url="/login?expire=3" session-fixation-protection="migrateSession">
            <concurrency-control error-if-maximum-exceeded="true" max-sessions="1" expired-url="/login?expire"/>
            <concurrency-control expired-url="/login?expire"/>
</session-management> -->
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password, active from users11 where username=?"
				authorities-by-username-query="select username, role from user_roles11 where username=?" />
		</authentication-provider>
	</authentication-manager>
	<!-- <beans:bean id="sessionRegistry" class="org.springframework.security.concurrent.SessionRegistryImpl" /> -->
	<!-- 
	<interceptors>
        <bean id="loggerInterceptor" class="org.arpit.java2blog.springmvc.controller.SessionHandler" />
    </interceptors> -->
</beans:beans>